.color-background {
  background-color: rgb(255, 255, 255);
  background-size: cover;
}

.card-title.h5 {
  color: white;
}

p.card-text {
  color: rgb(0, 72, 255);
}

.card-body {
  color: firebrick;
  background-image: url(https://as1.ftcdn.net/v2/jpg/02/71/90/36/1000_F_271903688_vC17PzArGn8zaiJ7j9m5zKkD3XKIQKbB.jpg);
}

.card-background {
  background-color: rgb(12, 24, 24);
  background-image: url(https://as1.ftcdn.net/v2/jpg/02/71/90/36/1000_F_271903688_vC17PzArGn8zaiJ7j9m5zKkD3XKIQKbB.jpg);
  background-size: cover;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0055ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
